java/JavaTest/bin/com/test/question/q4/q4.class
java/.sonarlint/default/.sonartmp_17677309998457268650/sonarlint-slf4j-sonar-log9086267956340192608.jar
java/.sonarlint/default/.sonartmp_10544368305172488912/sonarlint-slf4j-sonar-log5017181930226175324.jar
oracle_sist/.idea/dataSources.local.xml
oracle_sist/.idea/workspace.xml
oracle_sist/.idea/dataSources/18339f67-3c23-4800-8448-4748c371abb6.xml
oracle_sist/.idea/dataSources/fb0619c0-107a-42c8-9c3c-e2a327da034a.xml
oracle_sist/.idea/dataSources/18339f67-3c23-4800-8448-4748c371abb6/storage_v2/_src_/schema/PUBLIC.aaZQjQ.meta
oracle_sist/.idea/dataSources/18339f67-3c23-4800-8448-4748c371abb6/storage_v2/_src_/schema/SCOTT.v0axBA.meta
oracle_sist/.idea/dataSources/18339f67-3c23-4800-8448-4748c371abb6/storage_v2/_src_/schema/SYS.rUIBAA.meta
oracle_sist/.idea/dataSources/18339f67-3c23-4800-8448-4748c371abb6/storage_v2/_src_/schema/SYSTEM.L2avkg.meta
oracle_sist/.idea/dataSources/fb0619c0-107a-42c8-9c3c-e2a327da034a/storage_v2/_src_/schema/HR.CgkAAA.meta
oracle_sist/.idea/dataSources/fb0619c0-107a-42c8-9c3c-e2a327da034a/storage_v2/_src_/schema/HR.CgkAAA.zip
oracle_sist/.idea/dataSources/fb0619c0-107a-42c8-9c3c-e2a327da034a/storage_v2/_src_/schema/PUBLIC.aaZQjQ.meta
oracle_sist/.idea/dataSources/fb0619c0-107a-42c8-9c3c-e2a327da034a/storage_v2/_src_/schema/SYS.rUIBAA.meta
oracle_sist/.idea/dataSources/fb0619c0-107a-42c8-9c3c-e2a327da034a/storage_v2/_src_/schema/SYSTEM.L2avkg.meta
oracle_sist/.idea/.gitignore
oracle_sist/.idea/dataSources.xml
oracle_sist/.idea/encodings.xml
oracle_sist/.idea/modules.xml
oracle_sist/.idea/orcale.iml
oracle_sist/.idea/sqldialects.xml
